.resource-button {
    /* background-color: #333333; */
    background-color: #AAAAAA;
    border-radius: .3em;
    border: #444444 1px;
    font-weight: bolder;
    /* color: #FFFFFF; */
    color: #333333;
    max-height: 2em;
    padding-inline: 2em;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    margin-bottom: .25em;
}

.resource-redirect {
    color: #2222ff;
    font-weight: bolder;
    background-color: #AAAAAA;
}
.resource-redirect:hover {
    color: #2222ff;
    background-color: #FFFFAA;
}

.resource-button:hover {
    background-color: #FFFFAA;
    color: #222222;
}