.nav-button {
    background-color: #333333;
    border-radius: .3em;
    border: #444444 1px;
    color: #FFFFFF;
    height: 2em;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    margin-bottom: .25em;
}